@font-face {
  font-family: 'Janna';
  src: url('./Janna LT Bold.ttf') format('woff2');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Janna;
  line-height: 1.2;
}

:root {
  --main-color: #6A2F45;
}

body {
  background-color: var(--main-color);
  min-height: 100vh;
}

#clickSpin {
  position: absolute;
  z-index: 11;
}

#clickSpin:hover {
  background-color: #fff;
  color: #68032B;
}

text {
  font-size: 14px;
  pointer-events: none;
  fill: #fff;
}

.slice path {
  stroke: #231F20;
  stroke-width: 1px;
}

#chart {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 50px;
  /* left: 0; */
  display: flex;
  justify-content: center;
}

/* Modal Styles */
.modal {
  display: none;
  align-items: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
  width: 40%;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-title {
  margin: 0;
}

.close {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  background: #68032B;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg g:last-child {
  fill: #E6D8C9;
}

svg g:last-child path[d='M-27,0L0,9L0,-9Z'] {
  transform: translateX(-20px);
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  min-height: 100vh;
  align-items: center;
}

.logo {
  width: 150px;
  margin-top: 4rem;
}

.logo img {
  width: 100%;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
}

h1 {
  font-size: 80px;
  color: #fff;
}

p {
  font-size: 55px;
  color: #fff;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clickSpin {
  background: #68032B;
  color: #fff;
  border-radius: 23px;
  padding: 0.6rem 1rem;
  min-width: 200px;
  font-size: 35px;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-bottom: 4rem;
  height: 70px;
}

.chart {
  min-width: 500px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
}

#resultText {
  color: #68032B;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

@media screen and (max-width:1500.98px) {
  h1 {
    font-size: 75px;
  }

  p {
    font-size: 50px;
  }
}

@media screen and (max-width:1500.98px) {
  h1 {
    font-size: 70px;
  }
}

@media screen and (max-width:1199.98px) {
  .container {
    width: 90%;
  }

  h1 {
    font-size: 65px;
  }

  text {
    font-size: 14px;
  }

}

@media screen and (max-width:991.98px) {
  .container {
    width: 85%;
  }

  h1 {
    font-size: 45px;
  }

  p {
    font-size: 30px;
  }

  text {
    font-size: 12px;
  }

  .logo {
    margin-top: 3rem;
  }

  #clickSpin {
    font-size: 25px;
    margin-bottom: 6rem;
    height: 60px;
  }
}

@media screen and (max-width:880.98px) {
  .container {
    justify-content: center;
    flex-direction: column-reverse;
    padding: 4rem 0;
    padding-bottom: 0;
  }

  #chart {
    width: 100%;
    height: auto;
  }

  #resultText {
    font-size: 20px;
  }

  .close {
    font-size: 1rem;
    width: 30px;
    height: 30px;
  }

  .chart {
    position: relative;
    min-height: auto;
    width: 100%;
    height: 80vh;
    min-width: 100%
  }

  svg g:last-child path[d='M-19.5,0L0,6.5L0,-6.5Z'] {
    transform: translateX(-30px) !important;
  }

  .logo {
    width: 120px;
  }

  text {
    font-size: 10px;
  }

  #clickSpin {
    font-size: 20px;
  }

  .modal-dialog {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background: white;
    border-radius: 4px;
    width: 90%;
  }
}



@media screen and (max-width:414.98px) {
  .chart {
    height: 60vh;
  }
}

@media screen and (max-width:400.98px) {
  .chart {
    height: 78vh;
  }
}